<html>
    <head>
        <title>Forgot Password...!</title>
    </head>
    <body>
        <form method="post" action="/forgot">
            <table>
                <tr>
                    <td>Email:-</td>
                    <td>
                        <input type="email" name="email" placeholder="Enter your Email"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button value="submit" name="save">Submit</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>