<!DOCTYPE html>
<html>
  <head>
    <title>LOG-IN</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <form method="post" action="/login">
      <table>
        <tr>
          <td>Email:-</td>
          <td>
            <input type="email" placeholder="Enter Email" name="email" />
          </td>
        </tr>
        <tr>
          <td>Password:-</td>
          <td>
            <input type="password" placeholder="Enter Your Password" name="password"/>
          </td>
        </tr>
        <tr>
          <td>
            <button name="login" value="save">save</button>
          </td>
        </tr>
      </table>
    </form>
          <a href="/register">Registration</a>
          <a href="/forgot">Forgot Email</a>
  </body>
</html>
