<html>
    <head>
        <title></title>
    </head>
    <body>
        <h1>Create New Password..!</h1>
        <form action="new_pass" method="post">
            <table>
                <input type="hidden" value="1"/>
                <tr>
                    <td>Password:-</td>
                    <td>
                        <input type="password" name="new" placeholder="Enter New Password"/>
                    </td>
                </tr>
                <tr>
                    <td>Confirm Password:-</td>
                    <td>
                        <input type="password" name="confirm" placeholder="Enter Confirm Password"/>
                    </td>
                </tr>
                <tr>
                    <td>
                        <button name="save">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>