<html>
    <head>
        <titel></titel>
    </head>
    <body>
        <h1>OTP PAGE</h1>
        <form method="post" action="otp">
            <table>
                <tr>
                    <td>OTP:-</td>
                    <td>
                        <input type="text" name="otp" />
                    </td>
                </tr>
                <tr>
                    <td>
                        <button value="save">Save</button>
                    </td>
                </tr>
            </table>
        </form>
    </body>
</html>